@import url(//fonts.googleapis.com/css?family=VT323&display=swap);
@import url(//fonts.googleapis.com/css?family=DotGothic16&display=swap);

#startScreen{
    background-image: url(img/start-screen-full.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.title{
    justify-content: center;
    font-size: 4em;
    font-family: 'VT323', sans-serif;
    color: white;
}

.storyline {
    font-family: 'VT323', sans-serif;
    color: white;
    width: 30vw;
    font-size: 1.25em;
    justify-content: center;
}

#startBtn{
    font-family: 'VT323', sans-serif;
    background-color: white;
    font-size: 1.25em;
    height: 4rem;
    width: 14rem;
    border: none;
}

#gameScreen{
    display: none;
    background-size: fill;
    background-position: top;
    background-repeat: no-repeat;
 }

.character{
    height: 60vh;
    margin-left: 5em;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom left;
}

.dialogue{
    background-color: black;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    height: 40vh;
    color: white;
}

.name{
    font-family: 'VT323', sans-serif;
    font-size: 2em;
}

.text{
    font-family:  'VT323', sans-serif;
    font-size: 1.25rem;
    background-color: black;
}

.time{
    font-family:  'VT323', sans-serif;
    font-size: 1.25rem;
    text-decoration: underline;
}

.nextButton{
    margin-left: 0.5em;
    margin-right: 0.5em;
    display: none;
    font-family: 'VT323', sans-serif;
    height: 4rem;
    width: 14rem;
    font-size: 1.25rem; 
    color: black;
    border: none;
    background-color: white;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 1rem;
}

.option{
    display: flex;
    font-family: 'VT323', sans-serif;
    font-size: 1.25rem; 
    color: white;
    height: 4rem;
    width: 14rem;
    background-color: black;
    border: solid 0.25rem white;
    padding: 1rem;
    margin: 1rem;
    align-items: center;
    justify-content: center;
}

#endScreen{
    display: none;
    background-image: url(img/scene.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#restartBtn{
    font-family: 'VT323', sans-serif;
    background-color: white;
    font-size: 1.25rem;
    height: 4rem;
    width: 14rem;
    border: none;
}